/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of common browsers to a common base
----------------------------------------
*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

body {
  background: #000;
  font: normal 16px sans-serif;
  color: #fff
}

header {
  max-width: 1000px;
  min-width: 600px;
  margin: 0 auto;
  text-align: center;
  background: darkgrey;
}

h1 {
  font-size: 24px;
  padding: 30px 0 20px 0;
}

main {
  max-width: 1000px;
  min-width: 600px;
  margin: 0 auto;
  background: darkgrey;
}

figure {
  padding: 0 15px;
}

figure img {
  width: 100%;
  border: solid #fff 15px;
  box-sizing: border-box;
}

main ul {
  padding: 15px;
  margin: 0 -15px;
  font-size: 0;
}

main ul li {
  width: 25%;
  margin: 0;
  padding: 0 15px;
  display: inline-block;
  box-sizing: border-box;
}

main ul li img {
  width: 100%;
  border: solid #fff 3px;
  box-sizing: border-box;
}
