/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of common browsers to a common base
----------------------------------------
*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

body {
  font: normal 20px Avenir, Arial, sans-serif;
  color: #45494d;
  background: #2f2840 url("images/bg_body.gif") 50% 0 repeat;
}

header {
  padding: 0 0 0 0;
  box-sizing: border-box;
  text-align: center;
}

header h1 a {
  display: inline-block;
  width: 298px;
  height: 243px;
  margin: 80px 0;
  /*to hide the text:*/
  text-indent: -9999px;
  background: transparent url("images/logo.png")
}
nav {
  margin: 0 auto;
  padding: 0 0 50px 0;
}
nav ul {
  text-align: center;
  font-size: 26px;
}
nav ul li {
  width: 160px;
  padding: 0;
  display: inline-block;
  text-align: center;
}
nav ul li a {
  color: #cacaca;
  text-decoration: none;
}
nav ul li a.active {
  color: #6db9ff;
  font-weight: bold;
}

main {
  margin: 0 auto;
  padding: 120px 0 45px 0;
  text-align: center;
  background: #ffffff;
}
h2 {
  padding-bottom: 40px;
  font-size: 36px;
}
h3 {
  padding-bottom: 30px;
  font-size: 24px;
  color: #3e59b2;
}
section {
  margin: 0 auto;
  padding: 0px 0 35px 0;
}

section p {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

section img {
  max-width: 100%;
  padding-bottom: 40px;
}

main img {
  display: block;
  margin: 0 auto;
}

section ul {
  padding-top: 120px;
}

section ul li {
  display: inline-block;
  padding: 0 30px 0 30px;
}

figcaption {
  font-size: 24px;
  color: #3e59b2;
}

a:-webkit-any-link {
  text-decoration: none;
}

.modal-layer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, .3);
}

.modal {
  display: none;
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 3;
  width: 660px;
  margin: 0 0 0 -400px; /* (660 + 70 + 70) / 2 */
  padding: 125px 70px 70px 70px;
  text-align: left;
  background: #fff;
}

.modal p {
  padding: 0;
  font-size: 20px;
}

.modal img {
  display: inline-block;
  width: 96px;
  margin: 0 30px 20px 0;
  vertical-align: middle;
}

.modal h3 {
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  vertical-align: middle;
}

.modal a.close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 30px;
  height: 30px;
  background: transparent url("images/icon_close.png") 0 0 no-repeat;
}

footer {
  height: 300px;
  margin: 0 auto;
  padding-top: 90px;
  box-sizing: border-box;
  background: #e7e7e7;
  color: #b1b1b1;
}
footer p {
  text-align: center;
  padding-bottom: 40px;
}
footer ul {
  margin: 0 auto;
  text-align: center;
}

/*Pseudo element CSS*/

footer ul li {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 0 60px;
  content: "";
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
}
footer ul li.facebook {
  background-position: 0 -46px;
}
footer ul li.email {
  background-position: 0 -92px;
}
footer ul li.instagram {
  background-position: 0 100%;
}

@media (max-width: 720px) {
  header h1 a {
    height: 180px;
    margin: 70px 0 30px 0;
    background: transparent url("images/logo.png") center no-repeat;
    background-size: 220px;
  }
  nav {
    padding: 0 0 25px 0;
  }
  nav ul li {
    width: 140px;
  }
  main {
    padding: 60px 0 30px 0;
  }
  section p {
    padding: 0 10px 0 30px;
  }
  section img {
    max-width: 100%
  }

  footer ul li {
    margin: 0 30px;
  }

  .modal {
    left: 0;
    width: 100%;
    padding: 50px 30px;
    margin: 0;
    box-sizing: border-box;
  }
}

@media (max-width: 480px) {
  header {
    position: relative;
    height: 130px;
    padding: 0;
    overflow: hidden;
  }
  header h1 a {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: 50px;
    margin: 0;
    padding: 10px 0 0 80px;
    box-sizing: border-box;
    background: transparent url("images/logo.png") top left no-repeat;
    background-size: 90px;
    text-indent: 0;
    text-decoration: none;
    text-align: left;
    color: #ffffff;
  }
  nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    margin: 0;
    padding: 0;
  }
  nav ul li {
    padding: 5px 20px 5px 0;
    display: block;
    text-align: right;
    font-size: 16px;
  }
  body {
    font: normal 16px Avenir, Arial, sans-serif;
  }
  h2 {
    font-size: 26px;
    padding-bottom: 20px;
  }
  footer {
    height: 200px;
    padding-top: 40px
  }
  footer ul li {
    margin: 0 20px;
  }
}
